body {
  background-color: rgb(246, 246, 246);
}

h3 {
  margin: 0;
}

.formSection {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid rgb(192, 192, 192);
  margin-bottom: 24px;
  max-width: 600px;
}

.formSection h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0;
  letter-spacing: 1.1px;
}

.formSection > input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(246, 246, 246);
  color: rgb(35, 35, 35);
  outline: none;
  border: none;
  height: 64px;
}

.css-2b097c-container {
  margin: 8px 0;
}

.css-2b097c-container > div {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.css-2b097c-container > div > div {
  border-radius: 4px;
  background-color: rgb(246, 246, 246);
  color: rgb(35, 35, 35);
  height: 64px;
  outline: none !important;
  cursor: text;
}

.css-1wa3eu0-placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px !important;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(230, 28, 103);
  border-radius: 6px;
  margin: 0;
  margin-right: 8px;
  position: relative;
  top: 4px;
  background-color: white;
}

.checkboxSection label {
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "✓";
  font-size: 20px;
  color: white;
  width: 20px;
  height: 20px;
  position: relative;
  top: -3px;
  right: -1px;
}

input[type="checkbox"]:checked {
  background-color: rgb(230, 28, 103);
}

/* .checkboxSection {
  display: flex;
  flex-direction: column;
} */

#checkboxSubsection1 > label {
  display: block;
  /* width: 100%; */
}

h4 {
  margin-bottom: 3px;
  color: rgb(150,150,150);
  font-size: 14px;
  font-weight: 400;
}

.checkboxSubsection2 label {
  display: inline-block;
  width: 75px;
}

.spaced {
  margin-left: 40%;
}

.textareaLabel > div {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: rgb(246, 246, 246);
  font-size: 14px;
  font-weight: 400;
}

.textareaLabel > div > div {
  color: rgb(120, 120, 120);
}

textarea {
  width: 100%;
  background-color: transparent;
  min-height: 64px;
  border: none;
  padding: 0px;
  padding-top: 2px;
}

textarea::placeholder {
  color: rgb(180,180,180);
}

textarea:focus-visible {
  outline: none;
}

.imageContainer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
}

.imageContainer > * {
 height: 140px;
 width: 240px;
 object-fit: contain;
 background-color: rgb(246, 246, 246);
 border-radius: 4px;
 font-size: 36px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 color: rgb(230, 28, 103);
}

.buttons {
 display: flex;
 justify-content: flex-end; 
}

button {
  background-color: rgba(230, 28, 103, 0.5);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 12px;
}

#react-select-3-input {
  opacity: 1 !important;
  color: black;
}